---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About | FantasyFragments.net";

// Font style variables (about)
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<link rel="icon" type="image/svg+xml" href="/aya.svg" />

<html lang="en">
	<head>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: Black;
                font-size: 4rem;
                font-weight: bold;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
            
        </style>
	</head>
	<body>
        <BaseLayout>
            <style>
                .BaseLayout {
                border-radius: 15px 15px 15px 15px;
                    background: #CDCDCD;
                    padding: 20px;
                    width: inline-block;
                    height: inline-block;
                    word-wrap: break-word;
                }
            </style>
		<h1>{pageTitle}</h1>
        <h2>In the near future, this will be a personal blog focusing on technology, linguistics and Touhou project. This site was created using Astro!</h2>
        
        <p>Here are some sample facts.</p>
        <ul>
            <li>Did you know that CD sales actually increased by 4% in 2022?</li>
        </ul>
        
        <p>References</p>
        <ul>
            <li>Snider, M. and Padilla, R. (2023) 'The CD turns 40: Inside the meteoric rise and fall of the shiny disc that changed music', USA Today (International), 18 March, Available at: eu.usatoday.com (Accessed: 18 July 2023).</li>
        </ul>
        
    </BaseLayout>
        <script>
            import "../scripts/menu.js";
        </script>
	</body>
</html>