---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hi", "Hello", "Hallo", "Hey!", "こんにちは!", "Hallo!"]} />

  <html>
    <head>
      <h1>Updates</h1>
      <ul>
        <li>Mobile menus and dark mode should be fixed.</li>
      </ul>
    </head>
  </html>
</BaseLayout>