---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/aya.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FantasyFragments.net</title>
	</head>
	<body>
		<h1>New beginnings: FantasyFragments.net!</h1>
	</body>
</html>
