---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page | FantasyFragments";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to FantasyFragments.net!</h2>
</BaseLayout>