---
const pageTitle = "Index | FantasyFragments.net";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/aya.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
            h1 {
                color: Gray;
                font-size: 4rem;
				font-weight: bold;
            }
        </style>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
	</body>
</html>
