---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
 <nav style= "margin-bottom:20px">
   <Hamburger />
   <ThemeIcon />
   <Navigation />
 </nav>

 <img id="borderimg" 
      src="https://cdn.discordapp.com/attachments/898323590334799912/1130844714673913906/border.png" 
      alt="[MISSING]"
      width="25"
      height="25"
  />

 <style>
 
. {
      border-radius: 15px 15px 15px 15px;
      background: #CDCDCD;
      padding: 20px;
      width: 20px;
      height: inline-block;
      word-wrap: break-word;
    }
    
</style>


</header>

