---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header>
 <nav>
   <Hamburger />
   <Navigation />
 </nav>
 <style>
  . {
  border-radius: 15px 15px 15px 15px;
      background: #CDCDCD;
      padding: 20px;
      width: inline-block;
      height: inline-block;
      word-wrap: break-word;
  }
</style>

</header>

