---
---

<div class ="nav-links">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
</div>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #7c33ff;
        text-decoration: none;
  }
</style>